html,
body {
  margin: 0;
}

.titleHead {
  text-align: center;
  padding: 15px;
  background-color: cadetblue;
  color: white;
}
h1 {
  color: rgb(58, 64, 70);
}

.containerOne {
  padding: 20px;
  align-content: center;
}

.container {
  padding: 20px;
}

input {
  align-content: center;
  display: grid;
}

.btn {
  margin: 10px 0;
}

.calcTable {
  align-content: center;
  background-color: lightslategrey;
  border-collapse: collapse;
}

.calcTable td {
  padding: 6px 10px;
  border: 1px solid black;
}

.isDeleted > * {
  background-color: red;
}
